---
const { text = "@ralex1993 Nice blog post. Have you thought about..." } = Astro.props
const href = encodeURIComponent(Astro.canonicalURL.href)
---

<a href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(text)}&url=${href}&via=ralex1993`}>
  <slot />
</a>